SERIAL_PORT=COM9
SLAVES='1,11'
BAUDRATE='19200'
INTERVAL='2.0'
INFLUX_URL='http://localhost:8086'
INFLUX_TOKEN='your_influxdb_token_here'
INFLUX_ORG='your_org_name'
INFLUX_BUCKET='your_bucket_name'
INFLUX_MEASUREMENT='vhs'
PORT='COM9'
USE_DUMMY='True'
